body {
	background-color: #F38630;
}
/*Navbar styles*/
nav {
	background-color: white;
}
nav .brand-logo {
	margin-left: 15%;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	color: #556270;
}
nav ul a {
	color: #556270;
}
#indexH1 {
	color: white;
  letter-spacing: 8.5px;
  font-weight: 900;
  font-size: 85px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
#indexP {
	color: white;
	margin-top: 25px;
	font-size: 14px;
  letter-spacing: .5rem;
}
hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}
hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #F38630;
}
.card {
	background-color: white;
}
.card .card-reveal {
	background-color: white;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #556270;
    text-transform: uppercase;
}
.cardActionA {
	display: flex;
	text-transform: none !important;
}

/*Media Queries*/

@media only screen and (min-width: 601px) {
	nav {
		height: 100px;
		line-height: 100px;
	}
	nav ul a {
		font-size: 1.5rem;
		padding-left: 24%;
    padding-right: 24%;
    font-weight: 500;
	}
	ul:not(.browser-default) {
		margin-right: 20%;
	}
	.indexContent {
		padding-top: 13%;
	}
	.portfolioContent {
		padding-top: 10%;
	}
	.card .card-action {
		padding: 0px;
    padding-left: 10px;
    padding-bottom: 1px;
	}
	.card .card-title {
		padding: 10px;
	}
	.card .card-image img {
		max-height: 310px;
	}
	.githubImg {
		max-height: 20px;
	}
	.githubLink {
		padding-left: 10px;
		text-transform: none !important;
	}
	.deployedLink {
		font-weight: 600;
    font-size: 26px;
    letter-spacing: -1px;
	}
	.cardRevealP {
		padding-top: 5%;
		color: #556270;
		font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.5px;
	}
	.cardActionP {
		display: flex;
		margin-left: 10px;
	}
}