body {
	background-color: #F38630;
}
/*Navbar styles*/
nav {
	background-color: white;
}
nav .brand-logo {
	margin-left: 20%;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	color: #556270;
}
nav ul a {
	color: #556270;
}
#indexH1 {
	color: white;
}
#indexP {
	color: white;
}



/*Media Queries*/

@media only screen and (min-width: 601px) {
	nav {
		height: 100px;
		line-height: 100px;
	}
	nav ul a {
		font-size: 1.5rem;
		padding-left: 24%;
    padding-right: 24%;
    font-weight: 500;
	}
	ul:not(.browser-default) {
		margin-right: 20%;
	}
	.indexContent {
		padding-top: 15%;
	}
}