body {
	background-color: #F38630;
}
/*Navbar styles*/
nav {
	background-color: white;
}
nav .brand-logo {
	margin-left: 20%;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	color: #556270;
}
nav ul a {
	color: #556270;
}
#indexH1 {
	color: white;
  letter-spacing: 8.5px;
  font-weight: 900;
  font-size: 85px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
#indexP {
	color: white;
}
/*hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}*/
/*hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}*/


/*Media Queries*/

@media only screen and (min-width: 601px) {
	nav {
		height: 100px;
		line-height: 100px;
	}
	nav ul a {
		font-size: 1.5rem;
		padding-left: 24%;
    padding-right: 24%;
    font-weight: 500;
	}
	ul:not(.browser-default) {
		margin-right: 20%;
	}
	.indexContent {
		padding-top: 15%;
	}
}