body {
    background-color: #F38630;
}
footer.page-footer {
    background-color: #FA6900;
    padding-top: 0px;
    padding-bottom: 10px;
}
/*Navbar styles*/

nav {
    background-color: white;
}
nav .brand-logo {
    margin-left: 15%;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #556270;
}
nav ul a {
    color: #556270;
}
#indexH1 {
    color: white;
    letter-spacing: 8.5px;
    font-weight: 900;
    font-size: 85px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
#indexP {
    color: white;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: .5rem;
}
hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}
hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #F38630;
}
.card {
    background-color: white;
}
.card .card-reveal {
    background-color: white;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #556270;
    text-transform: uppercase;
}
.cardActionA {
    display: flex;
    text-transform: none !important;
}
textarea.materialize-textarea {
    border-bottom: 1px solid white;
}
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white;
    color: white;
}
textarea.materialize-textarea:focus:not([readonly])+label {
    color: white;
}
input {
    /*color: white;*/
}
input[type=text] {
    border-bottom: 1px solid white;
}
input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}
input[type=text]:focus:not([readonly])+label {
    color: white;
}
.input-field label {
    color: white;
}
.input-field .prefix.active {
    color: white;
}
.aboutP {
    color: black;
    line-height: 40px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1px;
}
p.aboutP a {
    color: #008C9E;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
p.aboutP a:hover {
    color: #00DFFC;
}
.footerRow {
    margin-bottom: 0px;
}
/*Media Queries*/
/*Tiny screens*/

@media only screen and (max-width: 600px) {
    #nav-mobile {
        display: flex;
        justify-content: space-around;
    }
    nav {
        height: 100px;
        line-height: 100px;
    }
    nav ul a {
        font-size: 1.5rem;
        padding-left: 24%;
        padding-right: 24%;
        font-weight: 500;
    }
    nav ul li {
        width: 40%;
        text-align: center;
    }
    .brand-logo {
        display: none;
    }
    .indexContent {
        padding-top: 13%;
    }
    .portfolioContent {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .card .card-action {
        padding: 0px;
        padding-left: 10px;
        padding-bottom: 1px;
    }
    .card .card-title {
        padding: 10px;
    }
    .card .card-image img {
        max-height: 310px;
    }
    .githubImg {
        max-height: 20px;
    }
    .githubLink {
        padding-left: 10px;
        text-transform: none !important;
    }
    .deployedLink {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -1px;
    }
    .cardRevealP {
        padding-top: 5%;
        color: #556270;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }
    .cardActionP {
        display: flex;
        margin-left: 10px;
    }
    .contactContainer {
        padding-top: 5%;
    }
    .contactIconContainer {
        display: flex;
        justify-content: space-around;
    }
    .contactIcon {
        margin-top: 22%;
        width: 90px;
        height: 90px;
    }
    .input-field {
        margin-bottom: 1rem;
    }
    #submitBtn {
        width: 91%;
        position: relative;
        left: 8%;
    }
    .aboutContainer {
        padding-top: 5%;
    }
    #meFaceImg {
        width: 200px;
        height: 200px;
        margin-right: 3%;
    }
    .skillsIcon {
        width: 110px;
        height: 110px;
        padding: 2px;
    }
    #hi {
        letter-spacing: -2px;
        font-weight: 700;
        clear: both;
    }
    .skillsGroupContainer {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #skillsH3 {
        font-weight: 700;
    }
    .input-field .prefix ~ textarea {
        min-height: 150px;
        font-size: 20px;
    }
    .aboutCol {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .skillsIconsWrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
/*Small Screens*/

@media only screen and (min-width: 601px) {
    nav {
        height: 100px;
        line-height: 100px;
    }
    nav ul a {
        font-size: 1.5rem;
        padding-left: 24%;
        padding-right: 24%;
        font-weight: 500;
    }
    #nav-mobile {
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        width: 40%;
        text-align: center;
    }
    .brand-logo {
        display: none;
    }
    .indexContent {
        padding-top: 13%;
    }
    .portfolioContent {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .card .card-action {
        padding: 0px;
        padding-left: 10px;
        padding-bottom: 1px;
    }
    .card .card-title {
        padding: 10px;
    }
    .card .card-image img {
        max-height: 310px;
    }
    .githubImg {
        max-height: 20px;
    }
    .githubLink {
        padding-left: 10px;
        text-transform: none !important;
    }
    .deployedLink {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -1px;
    }
    .cardRevealP {
        padding-top: 5%;
        color: #556270;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }
    .cardActionP {
        display: flex;
        margin-left: 10px;
    }
    .contactContainer {
        padding-top: 5%;
    }
    .contactIconContainer {
        display: flex;
        justify-content: space-around;
    }
    .contactIcon {
        margin-top: 30%;
        width: 90px;
        height: 90px;
    }
    .input-field {
        margin-bottom: 1rem;
    }
    #submitBtn {
        width: 91%;
        position: relative;
        left: 8%;
    }
    #formWrapper {
        margin-bottom: 10%;
    }
    .aboutContainer {
        padding-top: 5%;
    }
    #meFaceImg {
        width: 200px;
        height: 200px;
        margin-right: 3%;
    }
    .skillsIcon {
        width: 110px;
        height: 110px;
        padding: 2px;
    }
    #hi {
        letter-spacing: -2px;
        font-weight: 700;
        clear: both;
    }
    .skillsGroupContainer {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #skillsH3 {
        font-weight: 700;
    }
    .input-field .prefix ~ textarea {
        min-height: 150px;
        font-size: 20px;
    }
    .aboutCol {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .skillsIconsWrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
/*Large Screens*/

@media only screen and (min-width: 995px) {
    #nav-mobile {
        float: right;
        margin-right: 10%;
    }
    .card .card-image img {
        max-height: 245px;
    }
    .cardRevealP {
        padding-bottom: 15%;
    }
    .skillsIconsWrapper {
        width: 100%;
    }
    .contactIcon {
        width: 70px;
        height: 70px;
    }
    #formWrapper {
        margin-bottom: 15%;
    }
    .aboutCol {
        display: initial;
    }
    #hi {
        clear: none;
    }
}
/*Larger Screens*/

@media only screen and (min-width: 1260px) {
    nav {
        height: 100px;
        line-height: 100px;
    }
    nav ul a {
        font-size: 1.5rem;
        padding-left: 24%;
        padding-right: 24%;
        font-weight: 500;
    }
    ul:not(.browser-default) {
        margin-right: 20%;
    }
    .indexContent {
        padding-top: 13%;
    }
    .portfolioContent {
        padding-top: 8%;
        padding-bottom: 10%;
    }
    .card {
        max-width: 480px;
    }
    .card .card-action {
        padding: 0px;
        padding-left: 10px;
        padding-bottom: 1px;
    }
    .card .card-title {
        padding: 10px;
    }
    .card .card-image img {
        max-height: 310px;
    }
    .githubImg {
        max-height: 20px;
    }
    .githubLink {
        padding-left: 10px;
        text-transform: none !important;
    }
    .deployedLink {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -1px;
    }
    .cardRevealP {
        padding-top: 5%;
        color: #556270;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }
    .cardActionP {
        display: flex;
        margin-left: 10px;
    }
    #formWrapper {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 10%;
    }
    .contactContainer {
        padding-top: 5%;
    }
    .contactIconContainer {
        display: flex;
        justify-content: space-around;
    }
    .contactIcon {
        margin-top: 30%;
        width: 70px;
        height: 70px;
    }
    .input-field {
        margin-bottom: 1rem;
    }
    #submitBtn {
        width: 91%;
        position: relative;
        left: 8%;
    }
    .aboutContainer {
        padding-top: 5%;
    }
    #meFaceImg {
        width: 200px;
        height: 200px;
        margin-right: 3%;
    }
    .skillsIcon {
        width: 110px;
        height: 110px;
        padding: 2px;
    }
    #hi {
        letter-spacing: -2px;
        font-weight: 700;
    }
    .skillsGroupContainer {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #skillsH3 {
        font-weight: 700;
    }
    .input-field .prefix ~ textarea {
        min-height: 150px;
        font-size: 20px;
    }
}